body{
    margin: 0;
    padding: 20vh;
    background-color: #F6F7FC;
}
#container {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#card {
    background-color: #FFFFFF;
    display: flex;
    width:fit-content;
    height:max-content;
    margin:0 auto;
    padding: 20vh;
}

#card #icon-center img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#card #icon-center{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin: 0 auto;  
}

#card button{
    color: #FFFFFF;
    background-color: #4C44DC;
    padding: 10px 30px 10px 30px;
    border: none;
}

#footer{
    text-align: center;
}
